# Python virtual environment
.venv/
venv/
env/

# Environment variables
.env
*.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#Retail Agent
retail_agent/.adk